<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recomendador de Filme</title>
    <link rel="shortcut icon" href="../static/favico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>
    <img id="poster" src="" alt="">
    <h1 id="title"></h1>
    <a id="link" target="_blank">Sobre o filme</a>
    <button onclick="recommend(movielist)">Recomendar Filme</button>
</main>

<script>
    let movielist = {{ movielist | tojson }};
    function recommend (){
        fetch('/recommend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ movielist })
        })
        .then(response => {
            if (response.status === 429) {
                alert("Too many requests, please try again later.");
                return;
            }
            return response.json();
        })
        .then(data => {
           if (data) {
                if (data.filme.img){
                    document.getElementById('poster').src = data.filme.img;
                }
                else{
                    document.getElementById('poster').src = "../static/no-image-available.png";
                }
                
                document.getElementById('title').innerText = data.filme.title;
                movielist = data.remaining;
                document.getElementById('link').href = data.filme.url;
            }
        })
        .catch(err => {
            console.error(err);
        });
    }
    recommend();
</script>

</body>
</html>